In [3]:
import pandas as pd
df = pd.read_xml(r"..\data\simu_traffic_flow.xml")
df

,begin,end,id,nVehContrib,flow,occupancy,speed,harmonicMeanSpeed,length,nVehEntered
0,0.0,900.0,2040_11,0,0.0,0.00,-1.0,-1.0,-1.0,0
1,0.0,900.0,2040_12,0,0.0,88.56,-1.0,-1.0,-1.0,2
2,0.0,900.0,2040_14,0,0.0,0.00,-1.0,-1.0,-1.0,0
3,0.0,900.0,2040_2,0,0.0,8.89,-1.0,-1.0,-1.0,1
4,0.0,900.0,2040_3,0,0.0,8.78,-1.0,-1.0,-1.0,1
...,...,...,...,...,...,...,...,...,...,...
75,3600.0,4071.0,e1_0,0,0.0,2066.24,-1.0,-1.0,-1.0,7
76,3600.0,4071.0,e1_1,0,0.0,1000.00,-1.0,-1.0,-1.0,0
77,3600.0,4071.0,e1_2,0,0.0,0.00,-1.0,-1.0,-1.0,0
78,3600.0,4071.0,e1_3,0,0.0,0.00,-1.0,-1.0,-1.0,0
79,3600.0,4071.0,e1_4,0,0.0,0.00,-1.0,-1.0,-1.0,0